# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.log
*.tlog
*.pdb
*.idb
*.ipch
*.ilk
*.cache
*.suo
*.tlh
*.tli
*.iobj
*.ipdb
/ConsoleApplication1/bin
/ConsoleApplication1/obj
/FilterConfigurator/bin
/FilterConfigurator/obj
/Debug
/test.xml
/ConsoleApplication1
/ConsoleApplication2
/DotNetD2ItemFilter/obj/Debug
/Release
/DotNetD2ItemFilter
